@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0
}

body::-webkit-scrollbar{
  display: none;
}


.main{
  width: 100%;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  
}

.main::-webkit-scrollbar{
  display: none;
}



div{
  -ms-overflow-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.introChat {
  position: relative;
  background: #757de8;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 0px;
  top:10px
}
.introChat:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 22px 24px 0 0;
  border-color: #757de8 transparent transparent transparent;
  bottom: -22px;
  left: 37%;
  margin-left: -12px;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}

li{
  margin-left: 10px;
  margin-right: 10px;
}