@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root{
  --color-bg:#f3eaeb;
  font-family: 'Do Hyeon', sans-serif;

}

h1{
}

nav ul li{
  @apply text-xl px-10
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  font-family: 'Do Hyeon', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
  
}


.main{
  width: 100%;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  
}

.main::-webkit-scrollbar{
  display: none;
}



div{
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.introChat {
  position: relative;
  @apply bg-primary-content;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 0px;
  top:10px
}
.introChat:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 22px 24px 0 0;
  border-color: #ffb3b5 transparent transparent transparent;
  bottom: -22px;
  left: 37%;
  margin-left: -12px;
}


.skills ul li{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 9rem;
  @apply my-5;

}
.skills ul li:hover{
}

h2{
  @apply text-6xl mt-10 font-bold mb-3
}

h3{

  @apply text-3xl 
}



img{}

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}


.center{
  text-align: center;
}